@import '../../styles/global.scss';

.locationsPanel {
  color: $white80;
  background: $background-color;
  position: fixed;
  left: 0;
  width: 400px;
  z-index: 1000;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
}

.section {
  background: $background-light-color;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}


.location,
.person,
.peopleNumber,
.estimatedDailyConsumption,
.estimatesYearlyConsumption,
.estimatesYearlyProduction {
  @extend .section
}

.location {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include animate(background);

  &:hover {
    background: lighten($color: $background-light-color, $amount: 5);
    @include animate(background);
  }
}

.badge {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.addressRow {
	margin-bottom: 1rem;
}

.red {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: $red;
}

.green {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: $green;
}

.status {
	margin-left: auto;
}

.hovered {
   background: lighten($color: $background-light-color, $amount: 5);
   @include animate(background);
}
