@import '../../styles/global.scss';

.locationsPanel {
  color: $white80;
  background: $background-color;
  position: fixed;
  left: 0;
  width: 400px;
  z-index: 1000;
  top: 0;
  bottom: 0;
  padding: 1em;
  overflow: auto;
}

.section {
  background: $background-light-color;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}


.location,
.person,
.peopleNumber,
.estimatedDailyConsumption,
.estimatesYearlyConsumption,
.estimatesYearlyProduction {
  @extend .section
}

.location {
  cursor: pointer;
  @include transition(background);

  &:hover {
    background: lighten($color: $background-light-color, $amount: 5);
    @include transition(background);
  }
}
