@mixin animate($property...) {
  transition-property: $property;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@mixin animate-fast($property...) {
  transition-property: $property;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

$background-color: #1f1d2b;
$background-light-color: #252836;
$white80: #d2d2d5;
$white: #ffffff;
$accent: #9494fb;
$green: #1cbc6f;
$orange: #ff8700;
$red: #b42809;
